@tailwind base;
@tailwind components;
@tailwind utilities;

.error-text {
    @apply text-red-500 text-xs ml-0.5 font-medium;
}

.form-container{
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.ant-btn{
    display: none !important;
}

.ant-modal-close{
    display: none !important;
}